

header {
  position: fixed;
  top: 0;
  z-index: 2;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.search-bar, .results {
  position: relative;
  top: 100px;
}

.search-bar {
  display: flex;
  justify-content: center;
}

.results {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  height: 900px;
}

.search-results {
  grid-column: 2 / span 6;
}

.playlist {
  grid-column: 9 / span 6;
}

.song {
  display: grid;
  height: 4em;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  grid-auto-rows: 1em;
  margin-bottom: 1em;
}

.detail {
  grid-column: 1 / span 5;
}

.icon {
  grid-column: 6 / span 1;
  grid-row: 1 / span 2;
}

h3 {
  display: inline;
  margin-left: 10px;
}

p {
  margin-left: 10px;
  line-height: 0;
}

.icon button {
  background-color: transparent;
  color: black;
  border: none;
  float: right;
}


.input-title, .submit-button {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
}

.input-title input {
  grid-column: 2 / span 4;
  width: 80%;
  margin-bottom: 2em;
}

.submit-button button {
  grid-column: 3 / span 2;
  width: 100%;
  justify-self: center;
}