header {
  position: fixed;
  top: 0;
  z-index: 2;
  height: 50px;
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(12, 1fr);
  background-color: rgb(255, 255, 255);
}

.logo {
  grid-column: 1 / span 5;
  margin-left: 35px;
  color: rgb(40, 40, 40);
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
}

header nav {
  grid-column: 9 / span 3;
}

.nav-item {
  text-decoration: none;
  margin-left: 25px;
  margin-right: 25px;
  color: rgb(40, 40, 40);
}

.nav-item:hover {
  font-weight: bold;
}

.home {
  position: relative;
  top: 50px;
  background-image: url('./images/aben-star.JPG');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 360px;
  margin: 10px 30px;
  border-radius: 30px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
}

.home p {
  grid-column: 3 / span 5;
  grid-row: 2 / span 1;
  font-size: 3em;
  text-shadow: 5px 5px 2px black;
  color: white;
}

.home button {
  grid-column: 3 / span 5;
  grid-row: 3 / span 1;
  width: 100px;
  height: 30px;
  font-size: 1em;
  border-radius: 10px;
  color: white;
  background-color: rgb(40, 40, 40);
  box-shadow: 5px 5px 5px black;
}

.home button:hover {
  cursor: pointer;
  width: 105px;
  height: 35px;
  font-size: 1.2em;
}

.search-bar, .results {
  position: relative;
  top: 100px;
}

.search-bar {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-items: center;
  margin-bottom: 3em;
}

.search-form {
  grid-column: 5 / span 4;
  border: solid;
  border-radius: 10px;
  height: 1.5em;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
}

.search-form input {
  grid-column: 1 / span 11;
  border: none;
  font-size: 1em;
  text-indent: 10px;
  background-color: transparent;
}

.search-form input:focus {
  outline: none;
}

.search-form button {
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
}

.results {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  height: 900px;
}

.search-results {
  grid-column: 2 / span 6;
  background-color: #b8c3d3;
  border-radius: 20px;
}

.playlist {
  grid-column: 9 / span 6;
  background-color: #b8c3d3;
  border-radius: 20px;
}

.song {
  display: grid;
  height: 4em;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  grid-auto-rows: 1em;
  margin-bottom: 1em;
}

.detail {
  grid-column: 1 / span 5;
}

.icon {
  justify-self: center;
  grid-column: 6 / span 1;
  grid-row: 1 / span 2;
}

h2 {
  margin-left: 10px;
}

h3 {
  display: inline;
  margin-left: 20px;
}

p {
  margin-left: 20px;
  line-height: 0;
}

.icon button {
  background-color: transparent;
  color: black;
  border: none;
  float: right;
  cursor: pointer;
}


.input-title, .submit-button {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
}

.input-title input {
  grid-column: 2 / span 4;
  border-radius: 10px;
  height: 1.5em;
  width: 80%;
  margin-bottom: 2em;
  text-indent: 10px;
}

.input-title input:focus {
  outline: none;
}

.submit-button button {
  grid-column: 3 / span 2;
  width: 90%;
  justify-self: center;
  border-radius: 5px;
  margin-top: 1em;
  height: 2em;
  cursor: pointer;
}

.submit-button button:active {
  margin-top: 0.8em;
  box-shadow: 5px 5px 5px black;
}